@using  Microsoft.AspNetCore.Identity
@using  BloodDonorship.Data.Models
@using  BloodDonorship.Web.ViewModels.Home
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SigninManager

@model IndexViewModel

@using BloodDonorship.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@if (SigninManager.IsSignedIn(this.User))
{
    <div class="row">
        <div class="col-sm-6">
            @if (Model.PageTitle == "All Requests")
            {
            <h2>@Model.PageTitle</h2>
            }
            else
            {
                <h5>@Model.PageTitle</h5>
            }

        </div>
        <div class="col-sm-6">
            <form asp-action="Index" asp-controller="Home" method="get">
                <div class="input-group-append">
                    <input type="text" name="email" class="form-control" placeholder="Search">
                    <button class="btn btn-success" type="submit">Go</button>
                </div>
            </form>
        </div>
    </div>
    <hr />
    @if (this.TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@this.TempData["Message"]</strong>
        </div>
    }
    else if (this.TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@this.TempData["Success"]</strong>
        </div>
    }
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-success @(Model.HasPreviousPage && Model.PageTitle == "All Requests" ? string.Empty : "disabled")" asp-action="Index" asp-route-currentPage="@(Model.CurrentPage - 1)">Recent</a>
        </div>
        <div class="col-sm-4 text-center align-text-bottom">
            <span class="badge badge-success">
            @(Model.PageTitle  == "All Requests" ? string.Concat("page ", Model.CurrentPage, ", ", Model.TotalPages, " total") : string.Empty) 
            </span>
        </div>
        <div class="col-sm-4 text-right">
            <a class="btn btn-success @(Model.HasNextPage && Model.PageTitle == "All Requests" ? string.Empty : "disabled")" asp-action="Index" asp-route-currentPage="@(Model.CurrentPage + 1)">Older</a>
        </div>
    </div>
    <br />
    <div class="row">
        @foreach (AllRequestViewModel request in Model.AllRequests)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Request from: @request.UserUserName</h5>
                        <p class="card-text">Blood Type: @string.Concat(request.UserBloodBloodType, " ", request.UserBloodRhFactor)</p>
                        <p class="card-text">Created on: @request.CreatedOn</p>
                        <p class="card-text">Donations: @request.DonationsCount</p>
                        <a href="Donations/Create?requestId=@request.Id&userId=@request.UserId" class="btn btn-primary">Donate</a>
                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}

