@page
@model BloodModel

@{
    ViewData["Title"] = "Manage Blood Type";
    ViewData["ActivePage"] = ManageNavPages.Blood;
}

<h4>@ViewData["Title"]</h4>
@if (Model.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@Model.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
else if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.SuccessMessage
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form id="blood-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BloodType"></label>
                <select asp-for="BloodType" name="BloodType" class="form-control" asp-items="Model.BloodTypes">
                    <option value="" selected>@Model.BloodType</option>
                </select>
                <span asp-validation-for="BloodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RhFactor"></label>
                <select asp-for="RhFactor" name="RhFactor" class="form-control" asp-items="Model.RhFactors">
                    <option value="" selected>@Model.RhFactor</option>
                </select>
                <span asp-validation-for="RhFactor" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Select Blood Type</button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}