@model BloodDonorship.Web.ViewModels.Administration.Notifications.AllNotificationsAdminViewModel

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}

@{
    ViewData["Title"] = "Notifications";
}

<div class="row">
    <div class="col-lg-6">
        <h4>@this.ViewData["Title"]: @(Model.Notifications.Count() == 0 ? "no notifications" : Model.Notifications.Count().ToString())</h4>
    </div>
    <div class="col-lg-6 text-right">
        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-primary">Dashboard</a>
    </div>
</div>

<hr />

@foreach (var notification in Model.Notifications)
{
    string confirmDelete = string.Concat("confirmDelete", notification.Id);
    <div class="card">
        <div class="card-header">
            Message
        </div>
        <div class="card-body">
            <h5 class="card-title">From: @(string.IsNullOrEmpty(notification.SenderUserName) ? string.Concat(notification.AnonymousEmail, ", unregistered") : notification.SenderUserName)</h5>
            <p class="card-text"><time datetime="@notification.CreatedOn.ToString("O")"></time></p>
            <p class="card-text">@notification.Content</p>
            <div class="card-text text-right">

                <form asp-area="Administration" asp-action="Delete" asp-route-notificationId="@notification.Id">
                    <a asp-area="Administration" asp-controller="Notifications" asp-action="Answer" asp-route-email="@(string.IsNullOrEmpty(notification.SenderUserName) ? notification.AnonymousEmail : notification.SenderUserName)" class="btn btn-primary">Answer</a>
                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#@confirmDelete" data-id="@notification.Id">Delete</button>

                    <!-- The Modal -->
                    <div class="modal" id="@confirmDelete">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title text-danger">Warning!</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete the message from <span class="text text-primary">@(string.IsNullOrEmpty(notification.SenderUserName) ? notification.AnonymousEmail : notification.SenderUserName)</span>?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                                    <input type="submit" class="btn btn-danger text-white" id="delete" value="Delete" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
}





