@using BloodDonorship.Common
@using System.Globalization
@model BloodDonorship.Web.ViewModels.Donations.AllDonationsPerUserViewModel

@{
    ViewData["Title"] = "My Donations";
    int count = 0;
}


<h2>@ViewData["Title"]</h2>
<hr />

<p>
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Back to All</a>
</p>
<p>

    @if (!Model.Donations.Any())
    {
        <div class="alert alert-success">
            You have not made donations yet.
        </div>
    }
    else if (Model.TimeFromLastDonation.Value.Days == 1)
    {
        <div class="alert alert-danger">
            Time from last donation: <strong>@Model.TimeFromLastDonation.Value.Days day!</strong>
        </div>
    }
    else if (Model.TimeFromLastDonation.Value.Days < 60)
    {
        <div class="alert alert-danger">
            Time from last donation: <strong>@Model.TimeFromLastDonation.Value.Days days!</strong>
        </div>
    }
    else
    {
        <div class="alert alert-success">
            Time from last donation: More than two months.
        </div>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Donations.FirstOrDefault().CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donations.FirstOrDefault().Beneficient)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donation in Model.Donations)
        {

            <tr>
                <td>
                    @donation.CreatedOn.ToString(GlobalConstants.DateFormat, CultureInfo.InvariantCulture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => donation.Beneficient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => donation.ImageTitle)
                </td>
                <td>
                    <a asp-controller="Donations" asp-action="Download" asp-route-donationId="@donation.Id" class="btn btn-primary text-white">Download</a>
                </td>
                <td>
                    @if (count > 0)
                    {
                    <form  asp-action="Delete" asp-route-donationId="@donation.Id">
                        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-id="@donation.Id">Delete</button>

                        <!-- The Modal -->
                        <div class="modal" id="confirmDelete">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title text-danger">Warning!</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Are you sure you want to delete the donation?
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                                        <input type="submit" class="btn btn-danger text-white" id="delete" value="Delete"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                        
                    }
                </td>
            </tr>

            count++;            
        }
    </tbody>
</table>




